p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/* Larger title */
.title {
  font-size: 3em !important;
}

/* Bold chapter names in TOC */
.chapter>a {
  font-weight: bold;
}

.chapter>ul>li a {
  font-weight: normal;
}

/* Logo in TOC */
.toc-logo img {
  display: block;
  width: 80%;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* TOC entries */
.book .book-summary ul.summary li a,
.book .book-summary ul.summary li span {
    margin: 5px 5px 5px 5px;
    display: block;
}

.book .book-summary ul.summary li.active>a,
.book .book-summary ul.summary li a:hover {
    color: #000;
    background: #aaaaaa;
}
